body {
    background-color: #222831;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #0092ca;
    margin: 10px; 
    text-decoration: underline;
    margin-left: 50px; 
}

p {
    margin: 10px;
    margin-left: 50px; 
    margin-right: 50px; 
    color: #eeeeee;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;

}

.genres {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    color: #eeeeee;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

.row1 {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

.row2 {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}
