/* 
Giovani Bergamasco
4/18/2024
IT - 202 002
Phase 5 Assignment: Read SQL Data with PHP and JavaScript
glb7@njit.edu   
*/

body {
    background-color: #222831;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    height: 100%;
}

#book-NA{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: red;
}

#book-details{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0092ca;
}

#book-info{
    color: white;
    font-size: 19px;
}