/* 
Giovani Bergamasco
4/18/2024
IT - 202 002
Phase 5 Assignment: Read SQL Data with PHP and JavaScript
glb7@njit.edu 
*/

body {
    background-color: #222831;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    height: 100%;
}

#book-list{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0092ca;
    text-decoration: underline;
}

#categories{
    text-align: center;
    padding-top: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #eeeeee;
}

.categories-text:link, .categories-text:visited {
    color: #eeeeee;
}

.categories-text:hover {
    color: #0092ca;
}

.categories-list{
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

#category_name{
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #eeeeee;
}

table {
    width: 99.9%; 
    border-collapse: collapse;
    color: #eeeeee;
}

th, td {
    border: 1px solid #eeeeee; 
    padding: 10px; 
    text-align: left; 
}

th {
    background-color: #393e46;
    color: #eeeeee; 
}

tr:nth-child(even) {
    background-color: #393e46; /* Add a background color to every other row */
}

input[type="submit"] {  /* Delete Button */
    background-color: #fe6463;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 12px;
    cursor:pointer;
    width: 100%;
}

#code{
    color: #eeeeee;
    text-decoration: none;
}